.cart {
  position: sticky;
  z-index: 0;
  top: 20px;
  right: 16px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__list &__item:not(:last-child) {
    margin-bottom: 7px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    flex: 1 1 0;
    margin-left: 15px;
  }
  &__content-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  &__content-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0095c8;
  }
  &__img {
    width: 60px;
    height: 63px;
    object-fit: cover;
    border-radius: 7px;
  }
  &__delete {
    background: #48515f;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    margin-top: 15px;
    background: #2ebd85;
    border-radius: 5px;
    width: 100%;
    padding: 22px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
}
