.nft-picture {
  width: 100%;
  height: 460px;
  border-radius: 10px;
}

.properties {
  margin-top: 40px;
  margin-left: 5px;
  align-items: center;
}


.nft-new-btn {
  /* Color Website/Blue */
  padding: 10px 50px;
  gap: 10px;
  background: #0095C8;
  border-radius: 5px;
  margin-left: auto;

  /* H4 Hedding */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #FFFFFF;

}

.btn-add {
  width: 100%;
  height: 100%;
  background: #29313C;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #0095C8;
}


